* {
  box-sizing: border-box;
}

:root {
  --border-main: #d2d2d2;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 24px;
  background-color: #f5f5f5;
  font-family: 'Smythe', system-ui;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.force-mobile {
  height: 100%;
  max-width: 37.5rem;
  width: 100%;
  border-radius: 16px;
  overflow: clip;
  border: 1px solid var(--border-main);
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
}

header {
  background-image: url('./assets/images/banner.jpg');
  height: 160px;
  max-height: 160px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 24px;
  gap: 2px;
  flex-shrink: 0;
}

header h1 {
  font-size: 40px;
}

header p {
  font-size: 20px;
}

.content {
  display: flex;
  height: 100%;
  overflow-y: auto;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  display: flex;
  gap: 16px;
  flex-direction: column;
  padding: 24px;
  flex-shrink: 0;
  position: static;
  bottom: 0;
  background-color: white;
  display: none;
  border-top: 1px solid var(--border-main);
}

footer h3 {
  text-align: center;
}

.item {
  display: flex;
  flex-direction: row;
  padding: 16px 24px;
  width: 100%;
  gap: 24px;
  border-bottom: 1px solid var(--border-main);
}

.item:last-child {
  border-bottom: none;
}

.item-image {
  font-size: 64px;
}

.item-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-grow: 1;
}

.item-copy {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.item-copy h4 {
  font-size: 28px;
}

.item-copy h5 {
  font-size: 16px;
  color: #8b8b9b;
}

.item-price {
  font-size: 24px;
}
.item-btn {
  align-self: start;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  font-size: 20px;
  background-color: unset;
  color: #8b8b9b;
  border: 1px solid var(--border-main);
  transition: background-color 250ms, color 250ms, border 250ms;
}

.item-btn:hover {
  background-color: #09c184;
  color: white;
  border: unset;
}

.cart {
  display: flex;
  flex-direction: column;
}
.cart-item {
  display: flex;
  gap: 6px;
  width: 100%;
  padding: 12px 0;
  align-items: center;
}

.cart h4 {
  font-size: 24px;
}

.cart-item__price {
  flex-grow: 1;
  text-align: end;
  font-size: 20px;
}

.cart-btn {
  background-color: unset;
  border: none;
  color: #8b8b9b;
}

.dots {
  flex-grow: 1;
  border-bottom: 2px dotted var(--border-main);
}

.total-price {
  display: flex;
  align-items: baseline;
  border-top: 1px solid var(--border-main);
  font-size: 20px;
  gap: 8px;
}

.checkout-btn,
form button {
  border-radius: 8px;
  height: 48px;
  border: none;
  background-color: #16db99;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 20px;
  box-shadow: 0px 4px 8px 3px #16db9980;
  transition: background-color 250ms, box-shadow 300ms;
}

.checkout-btn:hover,
form button:hover {
  background-color: #09c184;
  box-shadow: 0px 0px 8px 8px #09c18480;
}

dialog:not([open]) {
  display: none;
}

dialog {
  border: none;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}

dialog form {
  display: flex;
  flex-direction: column;
  margin: 0;
}

dialog::backdrop {
  background-color: black;
  opacity: 0.5;
}

dialog form label {
  font-size: 20px;
  padding-top: 16px;
  width: 400px;
  padding-bottom: 6px;
}

dialog form input {
  height: 32px;
  border-radius: 8px;
  border: 1px solid var(--border-main);
}

dialog form input:last-of-type {
  margin-bottom: 24px;
}

.thanks {
  display: none;
  padding: 24px;
  border-radius: 16px;
  background-color: #16db99;
  color: white;
  transition: all 3s;
  margin: 24px;
  text-align: center;
}
